<div class="p-4 mb-3 rounded">
    <h4 class="fst-italic">A propos de moi</h4>
    <p class="mb-0 text-secondary">Jeune développeur buvant beaucoup de café afin de rester eveiller pour coder x))</p>
</div>